.parent {
    font-size: 16px;
    font-family: monospace;
    display: grid;
    margin-left: 20px;
}

.input {
    color: #ffd631;
    border: none;
    outline: none;
    height: 100%;
    background: transparent;
    resize: none;
    width: 100%;
}

textarea {
    font-size: 16px;
    font-family: monospace;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Toolbar"
        "Body";
}

.Toolbar {
    grid-area: Toolbar;
}

.Body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    gap: px px;
    grid-template-areas:
        "Expression ResultView";
    grid-area: Body;
}

.Expression {
    grid-area: Expression;
}

.ResultView {
    grid-area: ResultView;
        color: #00ff76;
}

.settings {
    background-image: url('settings.svg');
}

.minimize {
    padding-right: 12px;
    background-image: url('minimize.svg');
}

.close {
    background-image: url('close.svg');
}

.delete {
    background-image: url("delete.svg");
}
/* 
[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
} */


.WholeWindow {
    background-color: #202646;
}

.icon {
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: bottom;
    width: 16px;
    height: 16px;
    filter: invert(98%) sepia(3%) saturate(167%) hue-rotate(326deg) brightness(118%) contrast(100%);
}


.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.title {
    font-size: 0.75rem;
    margin: 0;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ResultUnit {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 19px;
}
